*{
	margin: 0;
	padding: 0;
	list-style-type: none;
	-webkit-overflow-scrolling: touch;
}
html,body {
	font-size: 100%;
}
html *::-webkit-scrollbar {
	z-index: 1000;
	width: 0.5rem;
	height: 0;
}

html *::-webkit-scrollbar *{
	z-index: 1000;
	background: transparent;
}
html *::-webkit-scrollbar-thumb {
	background: rgba(200,200,200,0.4);
}
body::-webkit-scrollbar-thumb {
	background: rgba(200,200,200,0.65);
}
body {
	-webkit-text-size-adjust: 100%;
}
body,body *{
	word-break: break-word;
	font-family: Tahoma, Geneva, sans-serif;
}
a{
	text-decoration: none;
	display: inline-block;
	color: initial;
}

a.block-wrap {
	display: block;
}

.header-container {
	height: 5rem;
	width: 100%;
	background: rgb(67, 81, 81);
	box-sizing: border-box;
	padding: 1rem;
}

.header-content div {
	margin: 0 0.5rem;
	box-sizing: border-box;
}

.logo-container {
	width: 3rem;
	height: 3rem;
	float: left;
	/*background: rgb(150, 100, 100);*/
}

.logo-container > img {
	width: 100%;
}

.title-container {
	height: 3rem;
	width: 20rem;
	float: left;
	padding: 0.5rem 0;
	/*background: rgb(100, 150, 100);*/
}

.title-container h1 {
	font-size: 1.5rem;
	color: rgb(230, 230, 230);
}

.title-container h2 {
	font-size: 0.8rem;
	color: rgb(160, 215, 160);
}

.widget-container .name {
	position: absolute;
	top: 6rem;
	right: 3rem;
	font-size: 0.8rem;
	color: black;
}

.link-container {
	height: 3rem;
	width: 40rem;
	float: left;
	/*background: rgb(100, 150, 100);*/
}

.widget-container{
	height: 3rem;
	width: 25rem;
	float: left;
	/*background: rgb(100, 100, 150);*/
	padding: 0.5rem 0.8rem;
}

input {
	border: 0;
	border-radius: 0.2rem;
	background: white;
	height: 2rem;
	box-sizing: border-box;
	padding: 0.2rem 1rem;
	display: block;
	float: left;
}

.widget-container input:first-of-type {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.widget-container input:last-of-type {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.widget-container input[type="submit"] {
	background: rgb(200, 200, 200);
}

.content {
	margin: 3rem auto;
	width: 60rem;
	max-width: 100%;
}

.search-results {
	border-radius: 0.4rem;
	background: rgb(245, 245, 245);
}

.search-results .result-row {
	box-sizing: border-box;
	min-height: 4rem;
	display: block;
	padding: 1rem 2rem;
}
.search-results .result-row:not(:last-of-type) {
	border-bottom: thin solid rgb(220, 220, 220);
}

.search-results .result-title {
	font-size: 1.4rem;
	font-weight: bold;
}

.register-box {
	width: 40rem;
	max-width: 100%;
	background: rgb(230, 230, 230);
	margin: 3rem auto;
	padding: 2rem 5rem;
	border-radius: 0.8rem;
}

.register-box input {
	float: none;
	margin: 0.5rem 0;
}

ol.error li, ol.error {
	color: rgb(201, 21, 21);
	display: inline-block;
}

ol.error li {
	text-decoration: underline;
}

ol.error {
	display: block;
}
